body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #1f2d27;
  background: #ffffff;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

header {
  background: #0f3d2e;
  color: #fff;
  padding: 15px 0;
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 50px;   /* Ajuste si besoin */
  width: auto;
}


header h1 {
  margin: 0;
  display: inline-block;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

.hero {
  background: #e6f4ef;
  padding: 80px 0;
  text-align: center;
}

.hero h2 {
  font-size: 2.5rem;
  color: #0f3d2e;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #1f7a5c;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.section {
  padding: 60px 0;
}

.section.light {
  background: #f4faf8;
}

.section h3 {
  color: #0f3d2e;
  margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: #ffffff;
  border: 1px solid #dceee7;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-weight: 500;
}

form {
  max-width: 500px;
  margin-top: 20px;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background: #1f7a5c;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background: #0f3d2e;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 0.9rem;
}
